.AppRoot {
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 550px;
}

.CharactersList {
  display: table;
  margin: auto;
}

.CharactersParty {
  display: table;
  margin: auto;
}

.CharacterCard {
  display: inline-block;
  position: relative;
}

.CharacterCard .CloseButton {
  position: absolute;
  top: 5%;
  left: 79%;
  background-color: white;
  font-size: 16px;
  padding: 0px 5px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.CharacterCard .CloseButton:hover {
  background-color: gray;
}

.CharacterCard .CloseButton:focus {
  border: none;
  outline: none;
}

.CardLabel {
  position: absolute;
  top: 65%;
  left: 15%;
  color: white;
}

img {
  margin: 2px 6px 6px 6px;
  width: 125px;
  height: 125px;
}
