/* Общие размеры приложения. */
.app-root {
  text-align: center;
  margin: auto;
  width: 810px;
}

/* Задаем стиль для ввода имени персонажа. */
#character-search {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  width: inherit;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  margin-top: 30px;
}

/* Блок результата поиска по имени персонажа. */
.characters-list {
  display: grid;
  border-spacing: 0;
}

/* Задаем отступы для элементов таблицы.  */
.characters-list tr {
  margin-right: 30px;
  margin-top: 30px;
}

/* Убираем внутренние отступы у td элемента таблицы. */
.characters-list tr > td {
  padding: 0;
}

/* Убираем отступ справа у последнего элемента поиска. */
.characters-list tr:last-child {
  margin-right: 0;
}

/* Убираем отступ у 4-го элемента поиска. */
.characters-list tr:nth-child(4) {
  margin-right: 0;
}

/* У последнего элемента "Вечеринка", добавляем отступ справа. */
.characters-party div:first-child {
  margin-right: 30px;
}

/* Описание карточки персонажа с фиксированным размером 125х125 пикселей и отступом справа на 5 пикселей. */
.character-card {
  display: inline-block;
  position: relative;
}

.card-size {
  width: 180px;
  height: 220px;
}

/* Описание кнопки Х, по нажатию на которую удаляем карточку персонажа. */
.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8px;
  right: 8px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  opacity: 90%;
  width: 30px;
  height: 30px;
}

/* При наведении на кнопку "Закрытия" карточки, меняем фон на серый. */
.btn-close:hover {
  background-color: gray;
}

/* Отключаем события курсора для SVG иконки. */
.btn-close-image {
  pointer-events: none;
}

/* Лэйбл для пустой карточки Рика или Морти. */
.card-label {
  position: absolute;
  bottom: 14px;
  width: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}

.party-header {
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}

img {
  display: block;
  width: inherit;
  height: inherit;
}